<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('style/header/header.css') }}">

</head>

<body>
{% block header %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
            <p class="navbar-brand col-1" href="#"></p>
            <a class="navbar-brand col-2" href="{{ path('mainpage') }}">Мир инструмента</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form method="get" action="{{ path('search') }}" id="searchForm" class="d-flex col-6" role="search">
                    <input id="searchInput" class="form-control me-2" name="search" type="search" placeholder="Поиск" aria-label="Поиск">
                    <div id="searchResults"></div>
                </form>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if app.user %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.login }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('check') }}">Профиль</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Выход</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="nav-link active" href="{{ path('vhod') }}">Войти</a>
                    {% endif %}

                    <li class="nav-item col-10">
                        <a class="nav-link active" href="{{ path('basket') }}">Корзина
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                            </svg>
                            <span id="cartItemCount"></span>
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </nav>
{% endblock %}

{% block nav %}
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link "  href="#katalog">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#popular">Популярные товары</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#popBrend">Популярные бренды</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('infopage') }}">О компании</a>
            </li>
        </ul>
    </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function() {
        function fetchSearchResults(query) {
            $.ajax({
                url: '{{ path('search') }}',
                type: 'GET',
                data: { search: query },
                success: function(data) {
                    $('#searchResults').empty();
                    if (data.length > 0) {
                        data.forEach(function(product) {
                            let price = product.amount;

                            $('#searchResults').append(
                                `<div class="search-result-item">
                    <img src="{{ asset('picture/katalog/') }}${product.img}" alt="${product.name}">
                    <div>
                        <h5>${product.name}</h5>
                        <p class="price"><strong>${price} руб.</strong></p>
                    </div>
                </div>`
                            );
                        });
                    } else {
                        $('#searchResults').append('<div class="search-result-item">Нет результатов</div>');
                    }
                }

            });
        }

        $('#searchInput').on('input', function() {
            let query = $(this).val();
            if (query.length > 1) {
                $('#searchResults').show();
                fetchSearchResults(query);
            } else {
                $('#searchResults').hide();
            }
        });

        $('#searchInput').on('focus', function() {
            let query = $(this).val();
            if (query.length > 1) {
                $('#searchResults').show();
            }
        });

        $(document).click(function(e) {
            if (!$(e.target).closest('#searchForm').length) {
                $('#searchResults').hide();
            }
        });
    });
</script>


</body>
</html>
