<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('style/popularProducts/popularProducts.css') }}">
</head>
<body>
<div class="container">
    <h1 class="zag" id="popular">Популярные товары</h1>
    <div class="row justify-content-center">
        {% for infoProducts in infoProduct %}
            <article class="col-sm-6 col-md-4 col-lg-3">
                <div class="cards">
                    <img src="{{ asset('picture/product/' ~ infoProducts.img) }}" class="img-fluid" alt="{{ infoProducts.name }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ infoProducts.name }}</h5>
                        <p class="card-text">Цена: {{ infoProducts.price }} ₽</p>
                        <button type="button" class="btn btn-success">Добавить в корзину</button>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</div>

</body>
</html>