<div class="container">
    <h1 class="zag" id="popular">Популярные товары</h1>
    <div class="products-grid">
        {% for popularProduct in popularProducts %}
            <article class="product-card">
                <a href="{{ path('info_product', {'typeId': popularProduct.types, 'name': popularProduct.name, 'id': popularProduct.id}) }}" class="card__image">
                    <div class="cards">
                        <img src="{{ asset('picture/katalog/' ~ popularProduct.img) }}" class="img-fluid" alt="{{ popularProduct.name }}">
                        <div class="card-bodys text-center">
                            <h5 class="card-titles">{{ popularProduct.name }}</h5>
                            <p class="card-texts">Цена: {{ popularProduct.amount }} ₽</p>
                        </div>
                    </div>
                </a>
            </article>
        {% endfor %}
    </div>
</div>
