
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('style/katalog/infoProduct.css') }}">
    <title>{% block title %}Редактирование товара{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% endblock %}
</head>
<style>
    header {
        padding-bottom: 100px;
    }

    .navbar {
        background-color: #007bff;
    }

    .navbar-brand {
        color: #fff !important;
    }
</style>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand col-1">Продукты</a>
            <a class="navbar-brand col-1" href="{{ path('mainpage') }}">Выход</a>
        </div>
    </nav>
</header>
{% if product.types == 1 %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('admin') }}" style="text-decoration: none; color: black">Админ панель</a></li>
            <li class="breadcrumb-item"><a href="{{ path('katalog') }}" style="text-decoration: none; color: black">Каталог</a></li>
            <li class="breadcrumb-item active" aria-current="page">Редактирование продукта</li>
        </ol>
    </nav>
    <h1>Редактирование информации о товаре</h1>
    <form method="post" action="{{ path('admin_info_product', {'typeId': product.types, 'id': product.id}) }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="productName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="productName" name="name" value="{{ infoProduct.name ?? '' }}" required>
        </div>
        <div class="mb-3">
            <label for="productPrice" class="form-label">Цена</label>
            <input type="text" class="form-control" id="productPrice" name="price" value="{{ infoProduct.price  ?? ''}}" required>
        </div>
        <div class="mb-3">
            <label for="productStock" class="form-label">В наличие: 1(да) 2(нет)</label>
            <input type="text" class="form-control" id="productStock" name="stock" value="{{ infoProduct.stock  ?? ''}}" required>
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Описание</label>
            <textarea class="form-control" id="productDescription" name="description" required>{{ infoProduct.description  ?? ''}}</textarea>
        </div>
        <div class="mb-3">
            <label for="productManufacturer" class="form-label">Производитель</label>
            <input type="text" class="form-control" id="productManufacturer" name="manufacturer" value="{{ infoProduct.manufacturer  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productWeight" class="form-label">Вес, кг</label>
            <input type="text" step="0.01" class="form-control" id="productWeight" name="weight" value="{{ infoProduct.weight  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productVolume" class="form-label">Объем барабана, л</label>
            <input type="text" step="0.01" class="form-control" id="productVolume" name="volume" value="{{ infoProduct.volume  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productVoltage" class="form-label">Напряжение сети, В</label>
            <input type="text" class="form-control" id="productVoltage" name="voltage" value="{{ infoProduct.voltage  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productRown" class="form-label">Венец</label>
            <input type="text" class="form-control" id="productRown" name="rown" value="{{ infoProduct.rown  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productEngine" class="form-label">Тип двигателя</label>
            <input type="text" class="form-control" id="productEngine" name="engine" value="{{ infoProduct.engine  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productPower" class="form-label">Мощность, Вт</label>
            <input type="text" class="form-control" id="productPower" name="power" value="{{ infoProduct.power  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productMixtures" class="form-label">Объем готовой смеси, л</label>
            <input type="text" step="0.01" class="form-control" id="productMixtures" name="mixtures" value="{{ infoProduct.mixtures  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productDrive" class="form-label">Привод опрокидывания / наклона</label>
            <input type="text" class="form-control" id="productDrive" name="drive" value="{{ infoProduct.drive  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productRetainer" class="form-label">Фиксатор наклона барабана</label>
            <input type="text" class="form-control" id="productRetainer" name="retainer" value="{{ infoProduct.retainer  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productConnections" class="form-label">Тип подключения</label>
            <input type="text" class="form-control" id="productConnections" name="connections" value="{{ infoProduct.connections ?? '' }}">
        </div>
        <div class="mb-3">
            <label for="productWheels" class="form-label">Колеса</label>
            <input type="text" class="form-control" id="productWheels" name="wheels" value="{{ infoProduct.wheels  ?? '' }}">
        </div>
        <div class="mb-3">
            <label for="productDimensions" class="form-label">Габариты, мм</label>
            <input type="text" class="form-control" id="productDimensions" name="dimensions" value="{{ infoProduct.dimensions  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productCountry" class="form-label">Страна производства</label>
            <input type="text" class="form-control" id="productCountry" name="country" value="{{ infoProduct.country  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productMotherland" class="form-label">Родина бренда</label>
            <input type="text" class="form-control" id="productMotherland" name="motherland" value="{{ infoProduct.motherland  ?? ''}}">
        </div>
        <div class="mb-3">
            <label for="productImages" class="form-label">Изображения</label>
            <div class="current-images">
                {% for image in images %}
                    <div class="image-wrapper">
                        <img src="{{ asset('picture/product//' ~ image.img) }}" alt="Текущее изображение" style="max-width: 100px; max-height: 100px;">
                        <label for="replaceImage{{ image.id }}">Заменить изображение</label>
                        <input type="file" class="form-control" id="replaceImage{{ image.id }}" name="replaceImages[{{ image.id }}]">
                    </div>
                {% endfor %}
            </div>
            <label for="newProductImages" class="form-label mt-3">Добавить новые изображения (максимум 4)</label>
            <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
            <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
            <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
            <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>

        </div>



        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
{% elseif product.types == 2 %}
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}" style="text-decoration: none; color: black">Админ панель</a></li>
                <li class="breadcrumb-item"><a href="{{ path('katalog') }}" style="text-decoration: none; color: black">Каталог</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование продукта</li>
            </ol>
        </nav>
        <h1>Редактирование информации о товаре</h1>
        <form method="post" action="{{ path('admin_info_product', {'typeId': product.types, 'id': product.id}) }}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="productName" class="form-label">Имя</label>
                <input type="text" class="form-control" id="productName" name="name" value="{{ infoProduct.name ?? '' }}" required>
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Цена</label>
                <input type="text" class="form-control" id="productPrice" name="price" value="{{ infoProduct.price  ?? ''}}" required>
            </div>
            <div class="mb-3">
                <label for="productStock" class="form-label">В наличие: 1(да) 2(нет)</label>
                <input type="text" class="form-control" id="productStock" name="stock" value="{{ infoProduct.stock  ?? ''}}" required>
            </div>
            <div class="mb-3">
                <label for="productDescription" class="form-label">Описание</label>
                <textarea class="form-control" id="productDescription" name="description" required>{{ infoProduct.description  ?? ''}}</textarea>
            </div>
            <div class="mb-3">
                <label for="productManufacturer" class="form-label">Производитель</label>
                <input type="text" class="form-control" id="productManufacturer" name="manufacturer" value="{{ infoProduct.manufacturer  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productWeight" class="form-label">Вес, кг</label>
                <input type="text" step="0.01" class="form-control" id="productWeight" name="weight" value="{{ infoProduct.weight  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productVolume" class="form-label">Мощность, Вт</label>
                <input type="text" step="0.01" class="form-control" id="productVolume" name="volume" value="{{ infoProduct.volume  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productVoltage" class="form-label">Количество звеньев, шт</label>
                <input type="text" class="form-control" id="productVoltage" name="voltage" value="{{ infoProduct.voltage  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productRown" class="form-label">Расположение двигателя</label>
                <input type="text" class="form-control" id="productRown" name="rown" value="{{ infoProduct.rown  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productEngine" class="form-label">Длина шины, см</label>
                <input type="text" class="form-control" id="productEngine" name="engine" value="{{ infoProduct.engine  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productPower" class="form-label">Бесключевая регулировка натяжения цепи</label>
                <input type="text" class="form-control" id="productPower" name="power" value="{{ infoProduct.power  ?? ''}}">
            </div>

            <div class="mb-3">
                <label for="productDrive" class="form-label">Скорость цепи, м/с</label>
                <input type="text" class="form-control" id="productDrive" name="drive" value="{{ infoProduct.drive  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productRetainer" class="form-label">Ширина паза, мм</label>
                <input type="text" class="form-control" id="productRetainer" name="retainer" value="{{ infoProduct.retainer  ?? ''}}">
            </div>

            <div class="mb-3">
                <label for="productWheels" class="form-label">Шаг цепи, дюйм</label>
                <input type="text" class="form-control" id="productWheels" name="wheels" value="{{ infoProduct.wheels  ?? '' }}">
            </div>
            <div class="mb-3">
                <label for="productCountry" class="form-label">Страна производства</label>
                <input type="text" class="form-control" id="productCountry" name="country" value="{{ infoProduct.country  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productMotherland" class="form-label">Родина бренда</label>
                <input type="text" class="form-control" id="productMotherland" name="motherland" value="{{ infoProduct.motherland  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productImages" class="form-label">Изображения</label>
                <div class="current-images">
                    {% for image in images %}
                        <div class="image-wrapper">
                            <img src="{{ asset('picture/product//' ~ image.img) }}" alt="Текущее изображение" style="max-width: 100px; max-height: 100px;">
                            <label for="replaceImage{{ image.id }}">Заменить изображение</label>
                            <input type="file" class="form-control" id="replaceImage{{ image.id }}" name="replaceImages[{{ image.id }}]">
                        </div>
                    {% endfor %}
                </div>
                <label for="newProductImages" class="form-label mt-3">Добавить новые изображения (максимум 4)</label>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>

            </div>



            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% elseif product.types == 2 %}
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}" style="text-decoration: none; color: black">Админ панель</a></li>
                <li class="breadcrumb-item"><a href="{{ path('katalog') }}" style="text-decoration: none; color: black">Каталог</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование продукта</li>
            </ol>
        </nav>
        <h1>Редактирование информации о товаре</h1>
        <form method="post" action="{{ path('admin_info_product', {'typeId': product.types, 'id': product.id}) }}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="productName" class="form-label">Имя</label>
                <input type="text" class="form-control" id="productName" name="name" value="{{ infoProduct.name ?? '' }}" required>
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Цена</label>
                <input type="text" class="form-control" id="productPrice" name="price" value="{{ infoProduct.price  ?? ''}}" required>
            </div>
            <div class="mb-3">
                <label for="productStock" class="form-label">В наличие: 1(да) 2(нет)</label>
                <input type="text" class="form-control" id="productStock" name="stock" value="{{ infoProduct.stock  ?? ''}}" required>
            </div>
            <div class="mb-3">
                <label for="productDescription" class="form-label">Описание</label>
                <textarea class="form-control" id="productDescription" name="description" required>{{ infoProduct.description  ?? ''}}</textarea>
            </div>
            <div class="mb-3">
                <label for="productManufacturer" class="form-label">Производитель</label>
                <input type="text" class="form-control" id="productManufacturer" name="manufacturer" value="{{ infoProduct.manufacturer  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productWeight" class="form-label">Вес, кг</label>
                <input type="text" step="0.01" class="form-control" id="productWeight" name="weight" value="{{ infoProduct.weight  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productVolume" class="form-label">Мощность, Вт</label>
                <input type="text" step="0.01" class="form-control" id="productVolume" name="volume" value="{{ infoProduct.volume  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productVoltage" class="form-label">Количество звеньев, шт</label>
                <input type="text" class="form-control" id="productVoltage" name="voltage" value="{{ infoProduct.voltage  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productRown" class="form-label">Расположение двигателя</label>
                <input type="text" class="form-control" id="productRown" name="rown" value="{{ infoProduct.rown  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productEngine" class="form-label">Длина шины, см</label>
                <input type="text" class="form-control" id="productEngine" name="engine" value="{{ infoProduct.engine  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productPower" class="form-label">Бесключевая регулировка натяжения цепи</label>
                <input type="text" class="form-control" id="productPower" name="power" value="{{ infoProduct.power  ?? ''}}">
            </div>

            <div class="mb-3">
                <label for="productDrive" class="form-label">Скорость цепи, м/с</label>
                <input type="text" class="form-control" id="productDrive" name="drive" value="{{ infoProduct.drive  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productRetainer" class="form-label">Ширина паза, мм</label>
                <input type="text" class="form-control" id="productRetainer" name="retainer" value="{{ infoProduct.retainer  ?? ''}}">
            </div>

            <div class="mb-3">
                <label for="productWheels" class="form-label">Шаг цепи, дюйм</label>
                <input type="text" class="form-control" id="productWheels" name="wheels" value="{{ infoProduct.wheels  ?? '' }}">
            </div>
            <div class="mb-3">
                <label for="productCountry" class="form-label">Страна производства</label>
                <input type="text" class="form-control" id="productCountry" name="country" value="{{ infoProduct.country  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productMotherland" class="form-label">Родина бренда</label>
                <input type="text" class="form-control" id="productMotherland" name="motherland" value="{{ infoProduct.motherland  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productImages" class="form-label">Изображения</label>
                <div class="current-images">
                    {% for image in images %}
                        <div class="image-wrapper">
                            <img src="{{ asset('picture/product//' ~ image.img) }}" alt="Текущее изображение" style="max-width: 100px; max-height: 100px;">
                            <label for="replaceImage{{ image.id }}">Заменить изображение</label>
                            <input type="file" class="form-control" id="replaceImage{{ image.id }}" name="replaceImages[{{ image.id }}]">
                        </div>
                    {% endfor %}
                </div>
                <label for="newProductImages" class="form-label mt-3">Добавить новые изображения (максимум 4)</label>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>

            </div>



            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% elseif product.types == 3 %}
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}" style="text-decoration: none; color: black">Админ панель</a></li>
                <li class="breadcrumb-item"><a href="{{ path('katalog') }}" style="text-decoration: none; color: black">Каталог</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование продукта</li>
            </ol>
        </nav>
        <h1>Редактирование информации о товаре</h1>
        <form method="post" action="{{ path('admin_info_product', {'typeId': product.types, 'id': product.id}) }}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="productName" class="form-label">Имя</label>
                <input type="text" class="form-control" id="productName" name="name" value="{{ infoProduct.name ?? '' }}" required>
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Цена</label>
                <input type="text" class="form-control" id="productPrice" name="price" value="{{ infoProduct.price  ?? ''}}" required>
            </div>
            <div class="mb-3">
                <label for="productStock" class="form-label">В наличие: 1(да) 2(нет)</label>
                <input type="text" class="form-control" id="productStock" name="stock" value="{{ infoProduct.stock  ?? ''}}" required>
            </div>
            <div class="mb-3">
                <label for="productDescription" class="form-label">Описание</label>
                <textarea class="form-control" id="productDescription" name="description" required>{{ infoProduct.description  ?? ''}}</textarea>
            </div>
            <div class="mb-3">
                <label for="productManufacturer" class="form-label">Производитель</label>
                <input type="text" class="form-control" id="productManufacturer" name="manufacturer" value="{{ infoProduct.manufacturer  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productWeight" class="form-label">Тип двигателя</label>
                <input type="text" step="0.01" class="form-control" id="productWeight" name="weight" value="{{ infoProduct.weight  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productVolume" class="form-label">Мощность, Вт</label>
                <input type="text" step="0.01" class="form-control" id="productVolume" name="volume" value="{{ infoProduct.volume  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productVoltage" class="form-label">Ширина скашивания леской, cм</label>
                <input type="text" class="form-control" id="productVoltage" name="voltage" value="{{ infoProduct.voltage  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productRown" class="form-label">Ширина скашивания ножом, cм</label>
                <input type="text" class="form-control" id="productRown" name="rown" value="{{ infoProduct.rown  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productEngine" class="form-label">Тактность двигателя</label>
                <input type="text" class="form-control" id="productEngine" name="engine" value="{{ infoProduct.engine  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productPower" class="form-label">Вес, кг</label>
                <input type="text" class="form-control" id="productPower" name="power" value="{{ infoProduct.power  ?? ''}}">
            </div>

            <div class="mb-3">
                <label for="productDrive" class="form-label">Частота вращения шпинделя, об/мин</label>
                <input type="text" class="form-control" id="productDrive" name="drive" value="{{ infoProduct.drive  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productRetainer" class="form-label">Толщина лески, мм</label>
                <input type="text" class="form-control" id="productRetainer" name="retainer" value="{{ infoProduct.retainer  ?? ''}}">
            </div>

            <div class="mb-3">
                <label for="productWheels" class="form-label">Габариты, мм</label>
                <input type="text" class="form-control" id="productWheels" name="wheels" value="{{ infoProduct.wheels  ?? '' }}">
            </div>
            <div class="mb-3">
                <label for="productCountry" class="form-label">Стартер</label>
                <input type="text" class="form-control" id="productCountry" name="country" value="{{ infoProduct.country  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productMotherland" class="form-label">Родина бренда</label>
                <input type="text" class="form-control" id="productMotherland" name="motherland" value="{{ infoProduct.motherland  ?? ''}}">
            </div>
            <div class="mb-3">
                <label for="productImages" class="form-label">Изображения</label>
                <div class="current-images">
                    {% for image in images %}
                        <div class="image-wrapper">
                            <img src="{{ asset('picture/product//' ~ image.img) }}" alt="Текущее изображение" style="max-width: 100px; max-height: 100px;">
                            <label for="replaceImage{{ image.id }}">Заменить изображение</label>
                            <input type="file" class="form-control" id="replaceImage{{ image.id }}" name="replaceImages[{{ image.id }}]">
                        </div>
                    {% endfor %}
                </div>
                <label for="newProductImages" class="form-label mt-3">Добавить новые изображения (максимум 4)</label>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>

            </div>



            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    {% elseif product.types == 4 %}
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin') }}" style="text-decoration: none; color: black">Админ панель</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('katalog') }}" style="text-decoration: none; color: black">Каталог</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Редактирование продукта</li>
                </ol>
            </nav>
            <h1>Редактирование информации о товаре</h1>
            <form method="post" action="{{ path('admin_info_product', {'typeId': product.types, 'id': product.id}) }}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="productName" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="productName" name="name" value="{{ infoProduct.name ?? '' }}" required>
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Цена</label>
                    <input type="text" class="form-control" id="productPrice" name="price" value="{{ infoProduct.price  ?? ''}}" required>
                </div>
                <div class="mb-3">
                    <label for="productStock" class="form-label">В наличие: 1(да) 2(нет)</label>
                    <input type="text" class="form-control" id="productStock" name="stock" value="{{ infoProduct.stock  ?? ''}}" required>
                </div>
                <div class="mb-3">
                    <label for="productDescription" class="form-label">Описание</label>
                    <textarea class="form-control" id="productDescription" name="description" required>{{ infoProduct.description  ?? ''}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="productManufacturer" class="form-label">Производитель</label>
                    <input type="text" class="form-control" id="productManufacturer" name="manufacturer" value="{{ infoProduct.manufacturer  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productWeight" class="form-label">Вес, кг</label>
                    <input type="text" step="0.01" class="form-control" id="productWeight" name="weight" value="{{ infoProduct.weight  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productVolume" class="form-label">Тип двигателя </label>
                    <input type="text" step="0.01" class="form-control" id="productVolume" name="volume" value="{{ infoProduct.volume  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productVoltage" class="form-label">Производительность, л/ч</label>
                    <input type="text" class="form-control" id="productVoltage" name="voltage" value="{{ infoProduct.voltage  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productRown" class="form-label">Макс. давление, бар</label>
                    <input type="text" class="form-control" id="productRown" name="rown" value="{{ infoProduct.rown  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productPower" class="form-label">Напряжение сети, В</label>
                    <input type="text" class="form-control" id="productPower" name="power" value="{{ infoProduct.power  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productMixtures" class="form-label">Макс. температура воды на входе, °С</label>
                    <input type="text" step="0.01" class="form-control" id="productMixtures" name="mixtures" value="{{ infoProduct.mixtures  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productDrive" class="form-label">Дополнительные опции</label>
                    <input type="text" class="form-control" id="productDrive" name="drive" value="{{ infoProduct.drive  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productRetainer" class="form-label">Назначение</label>
                    <input type="text" class="form-control" id="productRetainer" name="retainer" value="{{ infoProduct.retainer  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productConnections" class="form-label">Страна производства</label>
                    <input type="text" class="form-control" id="productConnections" name="connections" value="{{ infoProduct.connections ?? '' }}">
                </div>
                <div class="mb-3">
                    <label for="productWheels" class="form-label">Родина бренда</label>
                    <input type="text" class="form-control" id="productWheels" name="wheels" value="{{ infoProduct.wheels  ?? '' }}">
                </div>
                <div class="mb-3">
                    <label for="productImages" class="form-label">Изображения</label>
                    <div class="current-images">
                        {% for image in images %}
                            <div class="image-wrapper">
                                <img src="{{ asset('picture/product//' ~ image.img) }}" alt="Текущее изображение" style="max-width: 100px; max-height: 100px;">
                                <label for="replaceImage{{ image.id }}">Заменить изображение</label>
                                <input type="file" class="form-control" id="replaceImage{{ image.id }}" name="replaceImages[{{ image.id }}]">
                            </div>
                        {% endfor %}
                    </div>
                    <label for="newProductImages" class="form-label mt-3">Добавить новые изображения (максимум 4)</label>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>

                </div>



                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    {% elseif product.types == 5 %}
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin') }}" style="text-decoration: none; color: black">Админ панель</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('katalog') }}" style="text-decoration: none; color: black">Каталог</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Редактирование продукта</li>
                </ol>
            </nav>
            <h1>Редактирование информации о товаре</h1>
            <form method="post" action="{{ path('admin_info_product', {'typeId': product.types, 'id': product.id}) }}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="productName" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="productName" name="name" value="{{ infoProduct.name ?? '' }}" required>
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Цена</label>
                    <input type="text" class="form-control" id="productPrice" name="price" value="{{ infoProduct.price  ?? ''}}" required>
                </div>
                <div class="mb-3">
                    <label for="productStock" class="form-label">В наличие: 1(да) 2(нет)</label>
                    <input type="text" class="form-control" id="productStock" name="stock" value="{{ infoProduct.stock  ?? ''}}" required>
                </div>
                <div class="mb-3">
                    <label for="productDescription" class="form-label">Описание</label>
                    <textarea class="form-control" id="productDescription" name="description" required>{{ infoProduct.description  ?? ''}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="productManufacturer" class="form-label">Производитель</label>
                    <input type="text" class="form-control" id="productManufacturer" name="manufacturer" value="{{ infoProduct.manufacturer  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productWeight" class="form-label">Вес, кг</label>
                    <input type="text" step="0.01" class="form-control" id="productWeight" name="weight" value="{{ infoProduct.weight  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productVolume" class="form-label">Двигатель </label>
                    <input type="text" step="0.01" class="form-control" id="productVolume" name="volume" value="{{ infoProduct.volume  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productVoltage" class="form-label">Мощность (кВт)</label>
                    <input type="text" class="form-control" id="productVoltage" name="voltage" value="{{ infoProduct.voltage  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productRown" class="form-label">Мощность (л.с.)</label>
                    <input type="text" class="form-control" id="productRown" name="rown" value="{{ infoProduct.rown  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productPower" class="form-label">Производитель двигателя</label>
                    <input type="text" class="form-control" id="productPower" name="power" value="{{ infoProduct.power  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productMixtures" class="form-label">Ширина вспашки</label>
                    <input type="text" step="0.01" class="form-control" id="productMixtures" name="mixtures" value="{{ infoProduct.mixtures  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productDrive" class="form-label">Скорости</label>
                    <input type="text" class="form-control" id="productDrive" name="drive" value="{{ infoProduct.drive  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productRetainer" class="form-label">Тип двигателя</label>
                    <input type="text" class="form-control" id="productRetainer" name="retainer" value="{{ infoProduct.retainer  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productConnections" class="form-label">Тип редуктора</label>
                    <input type="text" class="form-control" id="productConnections" name="connections" value="{{ infoProduct.connections ?? '' }}">
                </div>
                <div class="mb-3">
                    <label for="productWheels" class="form-label">Сцепление</label>
                    <input type="text" class="form-control" id="productWheels" name="wheels" value="{{ infoProduct.wheels  ?? '' }}">
                </div>
                <div class="mb-3">
                    <label for="productImages" class="form-label">Изображения</label>
                    <div class="current-images">
                        {% for image in images %}
                            <div class="image-wrapper">
                                <img src="{{ asset('picture/product//' ~ image.img) }}" alt="Текущее изображение" style="max-width: 100px; max-height: 100px;">
                                <label for="replaceImage{{ image.id }}">Заменить изображение</label>
                                <input type="file" class="form-control" id="replaceImage{{ image.id }}" name="replaceImages[{{ image.id }}]">
                            </div>
                        {% endfor %}
                    </div>
                    <label for="newProductImages" class="form-label mt-3">Добавить новые изображения (максимум 4)</label>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>

                </div>



                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    {% elseif product.types == 6 %}
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin') }}" style="text-decoration: none; color: black">Админ панель</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('katalog') }}" style="text-decoration: none; color: black">Каталог</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Редактирование продукта</li>
                </ol>
            </nav>
            <h1>Редактирование информации о товаре</h1>
            <form method="post" action="{{ path('admin_info_product', {'typeId': product.types, 'id': product.id}) }}" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="productName" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="productName" name="name" value="{{ infoProduct.name ?? '' }}" required>
                </div>
                <div class="mb-3">
                    <label for="productPrice" class="form-label">Цена</label>
                    <input type="text" class="form-control" id="productPrice" name="price" value="{{ infoProduct.price  ?? ''}}" required>
                </div>
                <div class="mb-3">
                    <label for="productStock" class="form-label">В наличие: 1(да) 2(нет)</label>
                    <input type="text" class="form-control" id="productStock" name="stock" value="{{ infoProduct.stock  ?? ''}}" required>
                </div>
                <div class="mb-3">
                    <label for="productDescription" class="form-label">Описание</label>
                    <textarea class="form-control" id="productDescription" name="description" required>{{ infoProduct.description  ?? ''}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="productManufacturer" class="form-label">Производитель</label>
                    <input type="text" class="form-control" id="productManufacturer" name="manufacturer" value="{{ infoProduct.manufacturer  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productWeight" class="form-label">Вес, кг</label>
                    <input type="text" step="0.01" class="form-control" id="productWeight" name="weight" value="{{ infoProduct.weight  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productVolume" class="form-label">Напряжение сети, В</label>
                    <input type="text" step="0.01" class="form-control" id="productVolume" name="volume" value="{{ infoProduct.volume  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productVoltage" class="form-label">Потребляемая мощность ММА, кВт</label>
                    <input type="text" class="form-control" id="productVoltage" name="voltage" value="{{ infoProduct.voltage  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productRown" class="form-label">Мин. сварочный ток MMA, А</label>
                    <input type="text" class="form-control" id="productRown" name="rown" value="{{ infoProduct.rown  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productEngine" class="form-label">Макс. сварочный ток MMA, А</label>
                    <input type="text" class="form-control" id="productEngine" name="engine" value="{{ infoProduct.engine  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productPower" class="form-label">Мин. диаметр электрода MMA, мм</label>
                    <input type="text" class="form-control" id="productPower" name="power" value="{{ infoProduct.power  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productMixtures" class="form-label">Макс. диаметр электрода MMA, мм</label>
                    <input type="text" step="0.01" class="form-control" id="productMixtures" name="mixtures" value="{{ infoProduct.mixtures  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productDrive" class="form-label">ПВ на максимальном токе</label>
                    <input type="text" class="form-control" id="productDrive" name="drive" value="{{ infoProduct.drive  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productRetainer" class="form-label">Степень защиты</label>
                    <input type="text" class="form-control" id="productRetainer" name="retainer" value="{{ infoProduct.retainer  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productConnections" class="form-label">Длина силовых кабелей, м</label>
                    <input type="text" class="form-control" id="productConnections" name="connections" value="{{ infoProduct.connections ?? '' }}">
                </div>
                <div class="mb-3">
                    <label for="productWheels" class="form-label">Антизалипание</label>
                    <input type="text" class="form-control" id="productWheels" name="wheels" value="{{ infoProduct.wheels  ?? '' }}">
                </div>
                <div class="mb-3">
                    <label for="productDimensions" class="form-label">Защита от перегрева</label>
                    <input type="text" class="form-control" id="productDimensions" name="dimensions" value="{{ infoProduct.dimensions  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productCountry" class="form-label">Мин. температура эксплуатации, °С</label>
                    <input type="text" class="form-control" id="productCountry" name="country" value="{{ infoProduct.country  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productMotherland" class="form-label">Макс. температура эксплуатации, °С</label>
                    <input type="text" class="form-control" id="productMotherland" name="motherland" value="{{ infoProduct.motherland  ?? ''}}">
                </div>
                <div class="mb-3">
                    <label for="productImages" class="form-label">Изображения</label>
                    <div class="current-images">
                        {% for image in images %}
                            <div class="image-wrapper">
                                <img src="{{ asset('picture/product//' ~ image.img) }}" alt="Текущее изображение" style="max-width: 100px; max-height: 100px;">
                                <label for="replaceImage{{ image.id }}">Заменить изображение</label>
                                <input type="file" class="form-control" id="replaceImage{{ image.id }}" name="replaceImages[{{ image.id }}]">
                            </div>
                        {% endfor %}
                    </div>
                    <label for="newProductImages" class="form-label mt-3">Добавить новые изображения (максимум 4)</label>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>
                    <input type="file" class="form-control" id="newProductImages" name="images[]" multiple>

                </div>



                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
