<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('/style/fullOrders/fullOrders.css') }}">
    <title>{% block title %}История заказов{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>

        </style>
    {% endblock %}
</head>
<body>
{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand col-1" href="{{ path('status_processing') }}">В обработке</a>
                <a class="navbar-brand col-2" href="{{ path('status_expectation') }}">Ожидает в пункте выдачи</a>
                <a class="navbar-brand col-1" href="{{ path('status_paid') }}">Оплаченно</a>
                <a class="navbar-brand col-1" href="{{ path('status_canceled') }}">Отменено</a>
                <a class="navbar-brand col-1" href="{{ path('mainpage') }}">Выход</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="order-history">
            <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin') }}" style="text-decoration: none; color: black">Админ панель</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Заказы</li>
                    <li class="breadcrumb-item active" aria-current="page">Статус: Ожидание</li>
                </ol>
            </nav>
            <div class="inf">
                <h1>История заказов</h1>
            </div>
            {% set currentOrderNumber = null %}
            {% for check in checks|reverse %}
            {% if check.orderNumber != currentOrderNumber %}
            {% if currentOrderNumber is not null %}
            {% endif %}
            <h2>
                <span>Заказ №<span class="order-number">{{ check.orderNumber }}</span> ({{ check.data}})</span>

                <span style="color: #007BFF; font-size: 20px">Статус: Ожидае в пункте выдачи</span>

            </h2>
            <h3>Итоговая цена: {{ check.ItogPrice }} руб.</h3>

            <a class="navbar-brand col-2"  href="{{ path('infopage') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                Пункт выдачи: Магазин мир инструмента
            </a>
            <ul class="order-list">
                {% set currentOrderNumber = check.orderNumber %}
                <div class="order-buttons">
                    <form method="post" action="{{ path('status_expectation', {'orderNumber': check.orderNumber, 'status':5}) }}">
                        <button type="submit" class="btn btn-primary">Заказ Оплачен</button>
                    </form>
                    <form method="post" action="{{ path('status_expectation', {'orderNumber': check.orderNumber, 'status': 8}) }}">
                        <button type="submit" class="btn btn-danger">Отклонить</button>
                    </form>

                </div>
                {% endif %}
                <li class="order-item">
                    <div>
                        <img src="{{ asset('picture/katalog/' ~ check.img) }}" alt="{{ check.img }}">
                    </div>
                    <div>
                        <p>{{ check.name }}</p>
                        <p>{{ check.count }} шт. по {{ check.FinalPrice }} руб.</p>
                    </div>
                </li>

                {% endfor %}
            </ul>
            <a href="{{ path('mainpage') }}" class="return-link">Вернуться к покупкам</a>
        </div>
    </div>
{% endblock %}
</body>
</html>
