{% include 'header/header.html.twig' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('style/katalog/infoProduct.css') }}">
    <title>{% block title %}onlineshop{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin
        ="anonymous">
    {% endblock %}
</head>
<style>
    .btn-added-to-cart {
        background: whitesmoke;
        color: green;
    }


</style>
<body>
<div class="containers">
    <div class="containermain">
        <div id="product-{{ product.id }}">
            <div class="carousel-thumbnails d-flex justify-content-center">
                {% for image in images %}
                    <img src="{{ asset('picture/product/' ~ image.img) }}" class="carousel-thumbnail mx-1" onclick="showImage(this, '{{ asset('picture/product/' ~ image.img) }}', {{ product.id }}, {{ loop.index0 }})" alt="...">
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main-image">
        <img src="" alt="Главное изображение" id="mainImage">
    </div>
    <div class="secondcont">
        <h2>{{ infoProduct.name }}</h2>
        {% if infoProduct.stock != 0 %}
            <p class="stock">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg> В наличии
            </p>
        {% else %}
            <p class="nostock">Нет в наличии</p>
        {% endif %}
        <h3>{{ infoProduct.price }} Р</h3>
        <button type="button" class="btn btn-outline-success btn-add-to-cart" style="width: 33%" data-product-id="{{ product.id }}" onclick="addToCart(this)">Добавить в корзину</button>
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>
            Бесплатная доставка осуществляется в магазин мир инструмента,<br> оттуда вы сможете забрать свой заказ
        </p>
    </div>
</div>
<div class="description">
    <h1 style="margin-left: 10%;">Описание</h1>

    <p class="pre">{{ infoProduct.description }}</p>

    <h4 style="margin-left: 10%; margin-top:30px">Характеристики и комплектация</h4>
    {% if infoProduct.type == 1 %}
        {% include 'katalog/info/add_bet.html.twig' %}
        {% elseif infoProduct.type == 2%}
            {% include 'katalog/info/add_pila.html.twig' %}

        {% elseif infoProduct.type == 3%}
            {% include 'katalog/info/add_trimer.html.twig' %}

        {% elseif infoProduct.type == 4%}
            {% include 'katalog/info/add_moyka.html.twig' %}

        {% elseif infoProduct.type == 5%}
            {% include 'katalog/info/add_moto.html.twig' %}
        {% elseif infoProduct.type == 6%}
            {% include 'katalog/info/add_svarka.html.twig' %}
    {% endif %}
</div>


<div class="container">
 <h1 style="margin-top: 50px">Схожие товары</h1>
    <div class="row justify-content-start">
        {% for product in products %}
            {% if product.deleted == 0 %}
                <article class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="card__top">
                            <a href="{{ path('info_product', {'typeId': product.types, 'name': product.name, 'id': product.id}) }}" class="card__image">
                                <img src="{{ asset('picture/katalog/' ~ product.img) }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                            <div class="card__label">-{{ product.discont }} %</div>
                        </div>
                        <div class="card__bottom">
                            <div class="card__prices">
                                <div class="card__price card__price--discount" style="font-size: 25px">{{ product.amount }}</div>
                                <div class="card__price card__price--common" style="font-size: 22px">{{ product.noSale }}</div>
                            </div>
                            <a href="{{ path('info_product', {'typeId': product.types, 'name': product.name, 'id': product.id}) }}" style="font-size: 19px" class="card__title">
                                {{ product.name }}
                            </a>
                            <button type="button" class="btn btn-success btn-add-to-cart" style="width: 100%; margin-left: 0px"  data-product-id="{{ product.id }}" onclick="addToCart(this)">Добавить в корзину</button>
                        </div>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="container">
    <h1 class="zag" id="popular">Популярные товары</h1>
    <div class="row justify-content-center">
        {% for infoProds in infoProd %}
            <article class="col-sm-6 col-md-4 col-lg-3">
                <a href="{{ path('info_product', {'typeId': infoProds.type, 'name': infoProds.name, 'id': infoProds.idProduct}) }}" class="card__image" style="text-decoration: none; color: black">
                    <div class="cards" style="border: 1px solid #ddd; border-radius: 10px; overflow: hidden; transition: transform 0.3s;">
                        <img src="{{ asset('picture/product/' ~ infoProds.img) }}" style="width: 250px; height: 200px" class="img-fluid" alt="{{ infoProds.name }}">
                        <div class="card-body text-center">
                            <h5 class="card-title" style="padding-bottom: 10px; margin-top: 10px">{{ infoProds.name }}</h5>
                            <p class="card-text" style="font-size: 25px;padding-bottom: 10px" >Цена: {{ infoProds.price }} ₽</p>
                        </div>
                    </div>
                </a>
                <button type="button" class="btn btn-success btn-add-to-cart"  data-product-id="{{ infoProds.idProduct }}" style="width: 100%; margin-top: 20px" onclick="addToCart(this)">В корзину</button>

            </article>

        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function showImage(element, imageUrl, productId) {
        var mainImage = document.getElementById("mainImage");
        var thumbnails = document.querySelectorAll("#product-" + productId + " .carousel-thumbnail");

        thumbnails.forEach(function(thumbnail) {
            thumbnail.classList.remove("selected-thumbnail");
        });

        element.classList.add("selected-thumbnail");

        mainImage.src = imageUrl;
    }

    window.onload = function() {
        var thumbnails = document.querySelectorAll(".carousel-thumbnail");
        var mainImage = document.getElementById("mainImage");

        if (thumbnails.length > 0) {
            mainImage.src = thumbnails[0].src;
            thumbnails[0].classList.add("selected-thumbnail");
        }
    };
    document.addEventListener('DOMContentLoaded', function() {
        updateCartItemCount();
        updateCartButtonState();
    });

    function addToCart(button) {
        var productId = button.dataset.productId;
        var quantity = 1;
        var cartItem = productId + ':' + quantity;
        var existingCartItems = document.cookie.replace(/(?:(?:^|.*;\s*)cart\s*=\s*([^;]*).*$)|^.*$/, "$1");
        var updatedCart = '';

        if (existingCartItems) {
            var items = existingCartItems.split(',');
            var found = false;

            for (var i = 0; i < items.length; i++) {
                var parts = items[i].split(':');
                if (parts[0] === productId) {
                    window.location.href = '{{ path("basket") }}';
                    return;
                }
                updatedCart += (i > 0 ? ',' : '') + parts.join(':');
            }

            if (!found) {
                updatedCart += ',' + cartItem;
            }
        } else {
            updatedCart = cartItem;
        }

        document.cookie = 'cart=' + updatedCart + '; path=/';
        updateCartButtonState();
        updateCartItemCount();
    }

    function updateCartButtonState() {
        var existingCartItems = document.cookie.replace(/(?:(?:^|.*;\s*)cart\s*=\s*([^;]*).*$)|^.*$/, "$1");
        var addToCartButtons = document.querySelectorAll('.btn-add-to-cart');

        if (existingCartItems) {
            var items = existingCartItems.split(',');
            addToCartButtons.forEach(function(button) {
                var productId = button.dataset.productId;
                var found = items.some(function(item) {
                    return item.split(':')[0] === productId;
                });
                if (found) {
                    button.classList.add('btn-added-to-cart');
                    button.textContent = 'В корзине';
                    button.dataset.inCart = 'true';
                } else {
                    button.classList.remove('btn-added-to-cart');
                    button.textContent = 'Добавить в корзину';
                    button.dataset.inCart = 'false';
                }
            });
        }
    }

    function updateCartItemCount() {
        var existingCartItems = document.cookie.replace(/(?:(?:^|.*;\s*)cart\s*=\s*([^;]*).*$)|^.*$/, "$1");
        var itemCountElement = document.getElementById('cartItemCount');

        if (existingCartItems) {
            var items = existingCartItems.split(',');
            itemCountElement.textContent = items.length;
        } else {
            itemCountElement.textContent = 0;
        }
    }



</script>

</body>
</html>

{% include 'footer/footer.html.twig' %}
