<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('style/katalog/katalog.css') }}">
</head>
<body>

<div class="container" >
    <h1 class="zag" id="katalog">Каталог</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
        <article class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Бетономешалка</h5>
                    <img src="{{ asset('picture/katalog/betonoomeshalka.jpeg') }}"  class="img-fluid" alt="...">
                </div>
            </div>
        </article>
        <article class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Бензопила</h5>
                    <img src="{{ asset('picture/katalog/stihl.jpeg') }}"  class="img-fluid" alt="...">
                </div>
            </div>
        </article>
        <article class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Бензотриммер</h5>
                    <img src="{{ asset('picture/katalog/trimer.jpeg') }}" class="img-fluid" alt="...">
                </div>
            </div>
        </article>
        <article class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Генератор</h5>
                    <img src="{{ asset('picture/katalog/generatos.webp') }}" class="img-fluid" alt="...">
                </div>
            </div>
        </article>
        <article class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Мотоблок</h5>
                    <img src="{{ asset('picture/katalog/motobloc.jpeg') }}" class="img-fluid" alt="...">
                </div>
            </div>
        </article>
        <article class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Шуруповёрт</h5>
                    <img src="{{ asset('picture/katalog/shurupovert.jpeg') }}" class="img-fluid" alt="...">
                </div>
            </div>
        </article>
    </div>
</div>
</body>
</html>