<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<footer class="text-center text-lg-start bg-body-tertiary text-muted" >
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" style="background-color: white">
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5" >
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Мир инструмента
                    </h6>
                    <p>
                        «Мир Инструмента» - это специализированный магазин электроинструментов,
                        который предлагает широкий ассортимент качественной и профессиональной
                        техники для различных видов работ. Магазин славится своим обширным выбором
                        электроинструментов и аксессуаров, отвечающих высоким стандартам качества и надежности.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Продукт
                    </h6>
                    <p>
                        <a href="{{ path('product', {'typeId': 1, 'name': 'Бетономешалкa'}) }}" class="text-reset">Бетономешалка</a>
                    </p>
                    <p>
                        <a  href="{{ path('product', {'typeId': 2, 'name': 'Электропила'}) }}" class="text-reset">Бензопила</a>
                    </p>
                    <p>
                        <a  href="{{ path('product', {'typeId': 5, 'name': 'Мотоблок'}) }}" class="text-reset">Мотоблок</a>
                    </p>
                    <p>
                        <a  href="{{ path('product', {'typeId': 4, 'name': 'Мойка'}) }}" class="text-reset">Мойка</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Информация
                    </h6>
                    <p>
                        <a href="#katalog" class="text-reset">Каталог</a>
                    </p>
                    <p>
                        <a href="{{ path('check') }}" class="text-reset">Личный кабинет</a>
                    </p>
                    <p>
                        <a href="#popBrend" class="text-reset">Бренды</a>
                    </p>
                    <p>
                        <a href="{{ path('infopage') }}" class="text-reset" >Контакты</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4" style="margin-left: 15px">Контакты</h6>
                    <p><i class="fas fa-home me-3"></i>Магнитогорск пр-т. К.Маркса, 67</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        osip174@mail.ru
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 7 909 097 74 82</p>
                    <p><i class="fas fa-print me-3"></i> + 7 909 097 74 92</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: #343a40; color: white;">
        © {{ "now"|date("Y") }} Мир инструмента
    </div>
</footer>
</body>
</html>