<div class="product-info">
    <div class="attribute">
        <p class="label">Производитель: </p>
        <p class="label">Вес, кг : </p>
        <p class="label">Мощность, Вт:</p>
        <p class="label">Количество звеньев, шт: </p>
        <p class="label">Расположение двигателя: </p>
        <p class="label">Длина шины, см: </p>
        <p class="label">Бесключевая регулировка натяжения цепи: </p>
        <p class="label">Скорость цепи, м/с: </p>
        <p class="label">Ширина паза, мм:</p>
        <p class="label">Шаг цепи, дюйм:</p>
        <p class="label">Страна производства</p>
        <p class="label">Родина бренда:</p>
    </div>
    <div class="attribute1">
        <p class="label"> {{infoProduct.manufacturer }}</p>
        <p class="label">{{ infoProduct.weight }}</p>
        <p class="label">{{ infoProduct.volume }}</p>
        <p class="label">{{ infoProduct.voltage }}</p>
        <p class="label">{{ infoProduct.rown }}</p>
        <p class="label">{{ infoProduct.engine }}</p>
        <p class="label">{{ infoProduct.power }}</p>
        <p class="label">{{ infoProduct.drive }}</p>
        <p class="label">{{ infoProduct.retainer }}</p>
        <p class="label">{{ infoProduct.wheels }}</p>
        <p class="label">{{ infoProduct.country }}</p>
        <p class="label">{{ infoProduct.motherland }}</p>
    </div>
</div>