<div class="product-info">
    <div class="attribute">
        <p class="label">Производитель: </p>
        <p class="label">Вес, кг : </p>
        <p class="label">Объем барабана, л :</p>
        <p class="label">Напряжение сети, В: </p>
        <p class="label">Венец: </p>
        <p class="label">Тип двигателя: </p>
        <p class="label">Мощность, Вт: </p>
        <p class="label">Объем готовой смеси, л: </p>
        <p class="label">Привод опрокидывания / наклона: </p>
        <p class="label">Фиксатор наклона барабана: </p>
        <p class="label">Тип подключения: </p>
        <p class="label">Колеса:</p>
        <p class="label">Габариты, мм:</p>
        <p class="label">Страна производства</p>
        <p class="label">Родина бренда:</p>
    </div>
    <div class="attribute1">
        <p class="label"> {{infoProduct.manufacturer }}</p>
        <p class="label">{{ infoProduct.weight }}</p>
        <p class="label">{{ infoProduct.volume }}</p>
        <p class="label">{{ infoProduct.voltage }}</p>
        <p class="label">{{ infoProduct.rown }}</p>
        <p class="label">{{ infoProduct.engine }}</p>
        <p class="label">{{ infoProduct.power }}</p>
        <p class="label">{{ infoProduct.mixtures }}</p>
        <p class="label">{{ infoProduct.drive }}</p>
        <p class="label">{{ infoProduct.retainer }}</p>
        <p class="label">{{ infoProduct.connections }}</p>
        <p class="label">{{ infoProduct.wheels }}</p>
        <p class="label">{{ infoProduct.dimensions }}</p>
        <p class="label">{{ infoProduct.country }}</p>
        <p class="label">{{ infoProduct.motherland }}</p>
    </div>
</div>