<div class="product-info">
    <div class="attribute">
        <p class="label">Производитель: </p>
        <p class="label">Тип двигателя : </p>
        <p class="label">Мощность, Вт:</p>
        <p class="label">Ширина скашивания леской, cм: </p>
        <p class="label">Ширина скашивания ножом, cм: </p>
        <p class="label">Тактность двигателя: </p>
        <p class="label">Вес, кг: </p>
        <p class="label">Частота вращения шпинделя, об/мин: </p>
        <p class="label">Толщина лески, мм:</p>
        <p class="label">Габариты, мм:</p>
        <p class="label">Стартер</p>
        <p class="label">Родина бренда:</p>
    </div>
    <div class="attribute1">
        <p class="label"> {{infoProduct.manufacturer }}</p>
        <p class="label">{{ infoProduct.weight }}</p>
        <p class="label">{{ infoProduct.volume }}</p>
        <p class="label">{{ infoProduct.voltage }}</p>
        <p class="label">{{ infoProduct.rown }}</p>
        <p class="label">{{ infoProduct.engine }}</p>
        <p class="label">{{ infoProduct.power }}</p>
        <p class="label">{{ infoProduct.drive }}</p>
        <p class="label">{{ infoProduct.retainer }}</p>
        <p class="label">{{ infoProduct.wheels }}</p>
        <p class="label">{{ infoProduct.country }}</p>
        <p class="label">{{ infoProduct.motherland }}</p>
    </div>
</div>