<div class="product-info">
    <div class="attribute">
        <p class="label">Производитель: </p>
        <p class="label">Вес, кг : </p>
        <p class="label">Двигатель :</p>
        <p class="label">Мощность (кВт): </p>
        <p class="label">Мощность (л.с.): </p>
        <p class="label">Производитель двигателя: </p>
        <p class="label">Ширина вспашки(см): </p>
        <p class="label">Скорости: </p>
        <p class="label">Тип двигателя: </p>
        <p class="label">Тип редуктора: </p>
        <p class="label">Сцепление:</p>

    </div>
    <div class="attribute1">
        <p class="label"> {{infoProduct.manufacturer }}</p>
        <p class="label">{{ infoProduct.weight }}</p>
        <p class="label">{{ infoProduct.volume }}</p>
        <p class="label">{{ infoProduct.voltage }}</p>
        <p class="label">{{ infoProduct.rown }}</p>
        <p class="label">{{ infoProduct.power }}</p>
        <p class="label">{{ infoProduct.mixtures }}</p>
        <p class="label">{{ infoProduct.drive }}</p>
        <p class="label">{{ infoProduct.retainer }}</p>
        <p class="label">{{ infoProduct.connections }}</p>
        <p class="label">{{ infoProduct.wheels }}</p>
    </div>
</div>